{% extends "layout.html" %}

{% block title %} Home{% endblock %}

{% block main %}
    <h1 class="centrage">Bubulle:</h1>
    <h3 class="centrage">Your breathing bubble friend</h3>
    <div>
        <div class="bubble" id="Bubble"></div>

    </div>
    <div>
        <input type="button" id="StartStop" value="Start">
    </div>

    <div class="btn-grid">
        <button class="btn" id="profile1">1:2:2</button>
        <button class="btn" id="profile2">2:3:3</button>
        <button class="btn" id="profile3">5:3:5</button>
        <button class="btn" id="profile4">5:4:7</button>
    </div>


{% endblock %}