{% extends "layout.html" %}

{% block title %}Theme{% endblock %}

{% block main %}

    <div>
        <h2>Choose a theme:</h2>
    </div>
    <div>
        <hr>
    </div>
    

    <!-- <div>
        <button class="btn" id="themeDefault" onclick="defaultmode()">Default</button>
        <button class="btn" id="themeDark" onclick="darkmode()">Dark mode</button>
        <button class="btn" id="themeNight" onclick="nightmode()">Night mode</button>
    </div> -->

    <form action="/theme" method="post">
        <select class="form-select mx-auto w-auto" name="theme">
            <option selected value="default">default</option>
            <option value="dark">Dark mode</option>
            <option value="night">Night mode</option>
        </select>
        <div>
            <button class="btn" type="submit" id="btn-theme">Save changes</button>
        </div>
        </form>

{% endblock %}