
body {

    /* Default theme = dark purple */
   
    /* padding: 2px; */ 
    background-color: #220072;
    color: #cccccc;
    font-size: 15px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

a {
    text-decoration: none;
    color: #cccccc;
}

a:hover {
color: #cccccc;
text-decoration: none;
cursor: pointer;
}

.btn-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    color: #cccccc;
    background-color: #351288;
    border: 2px solid black;

    margin: 5px;
}

.centrage {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
}

.bubble {
    width: 15em; 
    height: 15em; 
    margin: auto;
    border-radius: 50%;
    border: 3px solid #ececec;

}

/*  Animation: .breathe class is directly on the html (on layout.html)*/
/* Keyframes for animation */
@keyframes breathe1 {
    /* Breathing profile 1: 1:2:2; 6s tot */
    /* start */
    0% {
        transform: scale(1.0) ;
    }
    /* 2s out + 1s hold down */
    33.3%, 50% {
        transform: scale(0.3);
    }
    /* 1s up + 2s hold up */
    66.7%, 100% {
        transform: scale(1.0);
    }
}

@keyframes breathe2 {
    /* Breathing profile 2: 2:3:3; 9s tot */
    /* start */
    0% {
        transform: scale(1.0) ;
    }
    /* 2s out + 1s hold down */
    33.3%, 44.4% {
        transform: scale(0.3);
    }
    /* 1s up + 2s hold up */
    66.7%, 100% {
        transform: scale(1.0);
    }
}

@keyframes breathe3 {
    /* Breathing profile 3: 5:3:5; 14s tot */
    /* start */
    0% {
        transform: scale(1.0) ;
    }
    /* 5s out + 1s hold down */
    35.7%, 42.9% {
        transform: scale(0.3);
    }
    /* 5s up + 3s hold up */
    78.6%, 100% {
        transform: scale(1.0);
    }
}

@keyframes breathe4 {
    /* Breathing profile 4: 5:4:7; 17s tot */
    /* start */
    0% {
        transform: scale(1.0) ;
    }
    /* 2s out + 1s hold down */
    41.2%, 47.1% {
        transform: scale(0.3);
    }
    /* 1s up + 2s hold up */
    76.5%, 100% {
        transform: scale(1.0);
    }
}



/* StartStop button */
#StartStop {
    margin: 50px;    
    padding: 10px;
}

#btn-param {
    margin: 20px;
}

/* .nav-color-default {
    background-color: #160049;
    color: white;
 */

/* Dark theme info:
    surface color: #121212

*/